@import "tailwindcss";

:root {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #fafafa;
  /* zinc-50 */
}

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(26, 26, 27, 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(26, 26, 27, 0.2) 1px, transparent 1px);
  }
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* zinc-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
  /* zinc-700 */
}